:root {
  --primary: #219ebc;
  --primary-light: #8ecae6;
  --primary-light-bg: #c3e6f6;
  --primary-dark: #023047;
  --secondary: #ffb703;
  --secondary-light: #ffd66e;
  --secondary-light-bg: #ffeab5;
  --secondary-dark: #fb8500;
  --neutral-light: #f3f3f3;
  --neutral: #ccc;
  --neutral-dark: #333;
}

section:not(#bannerTopo) h2 {
  color: var(--primary-dark);
  font-size: 40px;
  margin-bottom: 24px;
  text-underline-position: from-font;
  text-decoration: underline;
  text-underline-offset: 2px;
}

p {
  font-size: 18px;
}

strong {
  font-weight: inherit;
}

.btn-primary {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.vitrine {
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
}

section.vitrine h2 {
  text-align: center;
}

.vitrine:nth-child(odd) {
  background-color: var(--neutral-light);
}

section.vitrine:nth-child(odd) h2 {
  text-decoration-color: var(--secondary) !important;
}

.vitrine:nth-child(even) {
  background-color: var(--primary-light-bg);
}

section.vitrine:nth-child(even) h2 {
  text-decoration-color: var(--primary) !important;
}

#bencao {
  background-image: url('img/bencaos-pattern-bg.webp'), url('img/bencaos-pattern-bg.jpg');
}

#shabat {
  background-image: url('img/shabat-pattern-bg.webp'), url('img/shabat-pattern-bg.jpg');
}

#kabbalah {
  background-image: url('img/kabbalah-pattern-bg.webp'), url('img/kabbalah-pattern-bg.jpg');
}

#decoracao {
  background-image: url('img/decoracao-pattern-bg.webp'), url('img/decoracao-pattern-bg.jpg');
}

#festa {
  background-image: url('img/festas-pattern-bg.webp'), url('img/festas-pattern-bg.jpg');
}

@media only screen and (min-width: 768px) {
  section:not(#bannerTopo) {
    padding: 64px;
  }

  .vitrine:nth-child(even) .vitrine__content {
    flex-direction: row-reverse;
  }
}

/* @media only screen and (min-width: 992px) {} */

@media only screen and (min-width: 1200px) {
  p {
    font-size: 24px;
  }
}

/* @media only screen and (min-width: 1400px) {} */