:root {
  --primary: #219ebc;
  --primary-light: #8ecae6;
  --primary-light-bg: #c3e6f6;
  --primary-dark: #023047;
  --secondary: #ffb703;
  --secondary-dark: #fb8500;
  --neutral-light: #f3f3f3;
  --neutral-dark: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section:not(#bannerTopo) {
  margin: 0;
  max-width: 100vw;
  padding: 32px;
}

h2 {
  font-family: 'Satisfy', cursive;
}

section:not(#bannerTopo) h2 {
  color: var(--primary-dark);
  font-size: 56px;
  margin-bottom: 24px;
}

p {
  font-size: 18px;
}

strong {
  font-weight: inherit;
}

.btn-primary {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.navbar-brand h1 {
  display: inline;
  font-size: inherit;
}

.david-star-symbol {
  display: none;
}

main {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
}

#bannerTopo .carousel-item {
  background-color: var(--primary);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 56px);
}

#bannerTopo .carousel-item:nth-child(1) {
  background-image: url('img/artigos-judaicos-pivo-art.png');
}

#bannerTopo .carousel-item:nth-child(2) {
  background-image: url('img/decoracao-judaica-pivo-art.png');
}

#bannerTopo .carousel-item:nth-child(3) {
  background-image: url('img/artigos-festas-judaicas-pivo-art.png');
}

#bannerTopo .carousel-item .carousel-caption {
  top: 16%;
}

#bannerTopo .carousel-item .carousel-caption h2 {
  font-size: 56px;
  margin-bottom: 96px;
  min-height: 114px;
}

#bannerTopo .carousel-item .carousel-caption h3 {
  font-size: 24px;
}

.vitrine {
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
}

.vitrine:nth-child(odd) {
  background-color: var(--neutral-light);
}

.vitrine:nth-child(even) {
  background-color: var(--primary-light-bg);
}

#bencao {
  background-image: url('img/bencaos-pattern-bg.jpg');
}

#shabat {
  background-image: url('img/shabat-pattern-bg.jpg');
}

#kabbalah {
  background-image: url('img/kabbalah-pattern-bg.jpg');
}

#decoracao {
  background-image: url('img/decoracao-pattern-bg.jpg');
}

#festa {
  background-image: url('img/festas-pattern-bg.jpg');
}

@media only screen and (min-width: 576px) {
  #bannerTopo .carousel-item .carousel-caption {
    top: 24%;
  }

  #bannerTopo .carousel-item .carousel-caption h2 {
    font-size: 64px;
    margin-bottom: 160px;
    min-height: 152px;
  }

  #bannerTopo .carousel-item .carousel-caption h3 {
    font-size: 32px;
  }

}

@media only screen and (min-width: 768px) {
  .david-star-symbol {
    color: var(--primary);
    display: inline;
    font-family: cursive;
    font-size: 20px;
    vertical-align: text-top;
  }

  #bannerTopo .carousel-item {
    min-height: 66vh;
  }

  #bannerTopo .carousel-item .carousel-caption h2 {
    margin-bottom: 120px;
    min-height: 96px;
  }

  section:not(#bannerTopo) {
    padding: 64px;
  }

  .vitrine:nth-child(even) .vitrine__content {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1400px) {}